html {
  font-family: Georgia;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #1d1d1d;
}
li {
  list-style: none;
  margin-top: 150px;
  margin-bottom: 200px;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
}
h1 {
  font-size: 3rem;
}
